<body>
    <header>
         <!-- Nav bar  -->
           <nav class="navbar navbar-expand-lg navbar-dark" >
 
               <a class="navbar-brand" href="https://www.unibe.edu.ec/">
                   <img src="img/Unibe.png" height="40" width="40"class="d-inline-block align-top" alt="">UNIB.E</a>
                 <!-- Optimizacion de navbar para mobiles-->
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                     </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                    <ul class="navbar-nav mr-auto">
                               <li class="nav-item active">
                                 <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                               </li>
                        <li class="nav-item ">
                                 <a class="nav-link" href="inscripcion.html">Inscripción</a>
                        </li>
                         <li class="nav-item ">
                               <a class="nav-link" href="becas.html">Becas</a>
                         </li>
                         <li class="nav-item dropdown ">
                               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Matrícula</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="fs.html">Ficha Socio-económica</a>
                                <a class="dropdown-item" href="login.html">Matrícula</a>
                                <a class="dropdown-item" href="login2.html">Matrícula Idiomas</a>
                            </div>
                         </li>
                    </ul>
                              <form class="form-inline my-2 my-lg-0">
                          <a class="btn btn-ingr mr-sm-2" href="login.html" type="button">Ingresar</a>
                              </form>
                   </div>
          </nav>
    </header>	
     <div class="card"style="background-color:#bdbdbd;" >
             <h6 class="card-header"><b>Bienvenido al sistema de inscripción y matrícula de la Universidad Iberoamericana del Ecuador</b></h6> 
       </div>
       <div class="container-fluid mt-1" style="padding-left: 1;">
             <div class="row">
                <section class="col-md-9">
                     <article class="card1">
                            <div class="card-body">
                               <h3 class="card-title">Inscripción</h3>
                               <div class="card-text">
                                   Comience el proceso de inscripción en la carrera de su elección.
                               <h5 class="card-subtitle mb-2 text-muted">Requisitos</h5>
                                   <ul>
                                     <li >Título de bachiller</li>
                                     <li >Cédula de cuidadania</li>
                                     <li >Papeleta de votación actual</li>
                                     <li >Comprobante de pago</li>
                                     <li >Foto actual del estudiante</li>
                                   </ul></div>
                                <a  class="btn btn-reg" href="inscripcion.html" role="botton" data-toggle="tooltip" data-placement="top" title="Empieza el proceso de inscripción"><b>Inscríbete</b></a>
                             </div>
                     </article>
                     <article class="card1 mt-1 mb-1">
                            <div class="card-body">
                               <h3 class="card-title">Matrícula</h3>
                               <p class="card-text">
                                   Empieza el proceso de matriculación según el tipo de matrícula.</p>
                                   <p>Recuerda que antes de relizar cualquier proceso de matriculación es un requisito llenar la  <a href="fs.html" style="color:#FFEA00;">ficha socio-economíca.</a></p>
                                <a href="login.html" class="btn btn-reg mt-1 mb-1" data-toggle="tooltip" data-placement="top" title="Matrícula para alumnos regulares">  <b>Matrícula</b></a>
                                <a href="login2.html" class="btn btn-reg" data-toggle="tooltip" data-placement="top" title="Matrícula de idiomas">  <b>Matrícula Idiomas</b></a>
                             </div>
                     </article>
                     <article class="card1 mt-1 mb-1">
                            <div class="card-body">
                               <p class="card-text">
                                   <h3 class="card-title">Becas</h3>	
                               <p class="card-text">
                                   La Universidad Iberoamericana del Ecuador pone a disposicion de sus estudiantes la oportunidad de postular a becas y ayudas económicas.
                                   </p><a href="becas.html" class="btn btn-reg" data-toggle="tooltip" data-placement="top" title="Conoce los requisitos y formularios para becas"><b>Conoce más</b></a>
                             </div>
                     </article>
               </section>
                 <aside class="col-md-3">
                    <div class="card2" >	
                        <img class="card-img-top" src="https://static1.educaedu.com.ec/adjuntos/25/00/02/unibe---universidad-iberoamericana-del-ecuador-000247_large.jpg"  alt="Card image cap">
                        <div class="card-body text-md-left">
                           <h3 class="card-title">La universidad</h3>	
                           <p class="card-text">
                               Información general de la universidad.
                               </p><a href="https://www.unibe.edu.ec/informacion-general/" class="btn btn-reg" data-toggle="tooltip" data-placement="top" title="Información de la universidad"><b>Conoce más</b></a>
                               
                       </div>
                    </div> 
                    <div class="card2 mt-1">
                        <div class="card-body text-md-left">
                             <h5 class="card-title">Misión</h5> 
                       <div class="card-text"> 	
                             <p>La Universidad Iberoamericana del Ecuador es una institución de Educación Superior
                               con orientación humanística, que forma profesionales con valores éticos;
                                   comprometida a fomentar el desarrollo sostenible del país a través de la
                                   investigación, la tecnología y la innovación. </p>
                         </div>
                       </div>
                   </div>
               </aside>  
           </div>
     </div>
   
      <!-- FOOTER     -->

      <footer class="footer font-small text-white">

           <div class="container-fluid">

                   <!-- Grid row-->
               <div class="row py-4 d-flex align-items-center">

                     <!-- Grid column -->
                     <div class="col-md-2 col-lg-2 text-center text-md-left mb-4 mb-md-0">
                           <h6 class="mb-0">Redes sociales</h6>
                     </div>
                     <!-- Grid column -->

                     <!-- Grid column -->
                     <div class="col-md-4 col-lg-4 text-center text-md-left">

                           <!-- Facebook -->
                           <a type="button" class="btn-floating btn-fb" href="https://es-la.facebook.com/unibe.edu.ec">
                               <i class="nav-link" ><img src="https://images.vexels.com/media/users/3/137253/isolated/preview/90dd9f12fdd1eefb8c8976903944c026-icono-de-facebook-logo-by-vexels.png" height="40" width="40"></i>
                             </a>
                           <!-- Twitter -->
                            <a type="button" class="btn-floating btn-tw"  href="https://twitter.com/unibe_ec?ref_src=twsrc%5Etfw&ref_url=http%3A%2F%2Flocalhost%2Fjoomla%2F">
                               <i class="nav-link"><img src="https://images.vexels.com/media/users/3/137419/isolated/preview/b1a3fab214230557053ed1c4bf17b46c-icono-de-twitter-logo-by-vexels.png" height="40" width="40"></i>
                            </a>
                           <!--Instagram-->
                          <a type="button" class="btn-floating btn-tw"href="https://www.instagram.com/unibe_ec/?hl=es">
                                <i class="nav-link" ><img src="https://www.stickpng.com/assets/thumbs/580b57fcd9996e24bc43c521.png" height="40" width="40"></i></a>
                     </div>
                     <div class="col-md-2 col-lg-2 text-center text-md-right mb-4 mb-md-0">
                       <h6 class="mb-0">Contacto</h6>
                     </div>
                     <!-- Grid column -->
                   <div class="col-md-4 col-lg-4 ">
                       <ul class="list-unstyled">
                             <li>
                                <p>
                                 <i class="fas fa-envelope mr-3"></i><img src="img/home.png" height="30" width="30"> Av. 9 de Octubre y Sta. María</p>
                             </li>
                             <li>
                                <p>
                                 <i class="fas fa-envelope mr-3" ></i> <img src="img/mailw.png" height="30" width="30"> info@unibe.edu.ec</p>
                             </li>
                             <li>
                                <p>
                                 <i class="fas fa-phone mr-3"></i> <img src="img/phone.png" height="30" width="30"> +593 2 2903573 - +593 2 2230401 </p>
                             </li>
                       </ul>
                   </div>
                     <!-- Grid column -->
               </div>
                   <!-- Grid row-->
           </div>

               <!-- Copyright -->
            <div class="footer-copyright text-center py-3"style="background-color: #000;">© 2020 Copyright:
                 <a href="https:www.unibe.edu.ec/"> UNIBE.edu.ec</a>
           </div>
               <!-- Copyright -->
      </footer>
       <!-- Footer -->
 </body>